@tailwind base;
@tailwind components;
@tailwind utilities;

#app {

    a {
        @apply text-blue-700 no-underline;

        &:hover {
            @apply underline;
        }

        &.home-link {
            @apply text-orange-400;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin:      revert;
        font-size:   revert;
        font-weight: revert;
    }

    blockquote {
        @apply mb-5 pl-3 py-2 border-l-[6px] border-orange-400 bg-yellow-50;
    }

    .left {
        overflow-y: scroll;
    }

    .right {
        overflow-y: scroll;
        padding-left: 10px;
    }

    .tocbullet {
        list-style-type: revert;
        padding:         revert;
    }

    p code {
        background-color: #eeeeee;
        border:             1px dotted #cccccc;
        padding:            2px;
        margin:             0;
        font-size:          0.8em;
    }

    pre {
        background-color: #eeeeee;
        border:             1px solid LightGrey;
        margin:             20px;
        padding:            20px;
        font-size:          0.8em;
        white-space:        break-spaces;
        overflow-wrap:      break-word;
    }
}